*{
  font-family: "Hanken Grotesk";
  box-sizing:border-box;
}
.main-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 40px;
  background-color: white;
}

/* ------------score------------ */

.skill-score-container{
  flex-basis:30%;
  background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
  text-align: center;
  border-radius: 24px;
  padding: 30px 40px;
  color: hsl(0, 0%, 100%);
  max-width:400px;
  color: hsl(221, 100%, 96%);
  }
.skillscore-container-heading{
  font-size: 25px;
  font-weight:600 ;
}
.scored-marks-container{
  background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  width:200px;
  height:200px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  padding:30px 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
}
.scored-marks-container-marks{
  font-size: 70px;
  color: hsl(0, 0%, 100%);
  font-weight: bold;
}
.scored-marks-container-totalmarks{
  font-size: 20px;
  font-weight: 800;
  color: hsl(222, 89%, 75%);

}
.skillscore-container-greatheading{
  font-size: 40px;
  font-weight: 600px;
  color: hsl(0, 0%, 100%);
}
.skillscore-container-paragraph{
  font-size:20px;
  font-weight: bold;
  color: hsl(221, 59%, 86%);

}
/* ---------------------summary-------------- */
.summary-container{
  background-color: white;
  flex-basis: 30%;
  color: black;
  border-radius: 16px;
  border-top-left-radius: 0px;
  padding: 10px;
  box-shadow: 3px 3px 5px 3px rgb(245, 244, 250);
  max-width:400px;
}
.summary-container-heading{
  font-size: 30px;
  padding-left: 30px;
}
.skillname-container{
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  padding:2px 20px;
  padding-right: 30px;
  margin: 10px;
  font-size: 20px;
  max-width:400px;
  font-weight: 600;
}

.reaction-section{
  background-color: hsl(0, 29%, 95%);
  color: hsl(0, 98%, 65%);  
}
.section-imgcontainer{
  display: flex;
}
.section-image{
  margin: 10px;
}
.section-totalmarks{
  color: rgb(114, 112, 112);
  padding-left: 8px;

}
.section-score{
  color: black;
  font-weight: 800;
}


.memory-section{
  background-color: hsl(40, 47%, 96%);  
  color: hsl(39, 100%, 56%);

}


.verbal-section{
  background-color: hsl(163, 33%, 96%);
  color: hsl(166, 100%, 37%);
}


.visual-section{
  background-color: hsl(234, 21%, 91%);
  color:hsl(234, 85%, 45%);
  }


.btn-container{
  display: flex;
  justify-content: center;
}
.continue-btn{
  width:320px;
  min-height:60px;
  background-color: hsl(224, 30%, 27%);
  border-radius: 34px;
  color:white;
  font-size: 20px;
  padding: 5px;
  font-weight: 500;
  margin-top: 20px;
}

@media screen and (max-width:800px ){
  .main-container{
    display:flex;
    flex-direction:column;
  }
}