*{
  font-family: "Hanken Grotesk";
  box-sizing:border-box;
}
.main-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* ------------score------------ */

.skill-score-container{
  flex-basis:30%;
  background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
  text-align: center;
  border-radius: 24px;
  padding: 30px 40px;
  color: hsl(0, 0%, 100%);
}
.skillscore-container-heading{
  font-size: 30px;
  color:hsl(221, 100%, 96%);
}

.scored-marks-container{
  background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  width:200px;
  height: 200px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  padding:10px 10px;
}
.scored-marks-container-marks{
  font-size: 50px;
  color:white;

}
.scored-marks-container-totalmarks{
  font-size: 20px;
  color: hsl(241, 100%, 89%);
}
.skillscore-container-greatheading{
  font-size: 40px;
}
.skillscore-container-paragraph{
  font-size:20px;
}
/* ---------------------summary-------------- */
.summary-container{
  background-color: white;
  flex-basis: 30%;
  color: black;
  box-shadow: 1px;
  padding: 20px;
}
.summary-container-heading{
  font-size: 30px;
  padding-left: 30px;
}
.skillname-container{
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  padding:10px;
  margin: 10px;
  font-size: 20px;
}

.reaction-section{
  background-color: hsl(0, 20%, 96%);
  color: hsl(0, 100%, 67%);
  
}
.section-imgcontainer{
  display: flex;
}
.section-image{
  margin: 10px;
}
.section-totalmarks{
  color: rgb(114, 112, 112);
}
.section-score{
  color: black;
  font-weight: 800;
}


.memory-section{
  background-color: hsl(38, 62%, 95%);  
  color: hsl(39, 100%, 56%);

}


.verbal-section{
  background-color: hsl(163, 33%, 96%);
  color: hsl(166, 100%, 37%);

}


.visual-section{
  background-color: hsl(234, 21%, 91%);
    color:hsl(234, 85%, 45%);
  }


.btn-container{
  display: flex;
  justify-content: center;
}
.continue-btn{
  width:200px;
  height:50px;
  background-color: hsl(224, 30%, 27%);
  border-radius: 34px;
  color:white;
  font-size: 18px;
}

@media screen and (max-width:600px ){
  .main-container{
    display:flex;
    flex-direction:column;
  }
}